#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2px;
}

.space {
    border-style: solid;
}